<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid black;
            display: inline-block;
            margin: 40px;
        }
        .red {background: red;}
        .blue {background: blue;}
        .green {background: green;}
    </style>
</head>
<body>
    
<div id="app">

   <!-- <h2 v-if="type === 'a'">A</h2>
   <h2 v-else-if="type === 'b'">B</h2>
   <h2 v-else-if="type === 'c'">C</h2>
   <h2 v-else>not match</h2>

   <input type="text" v-model="type"> -->
   <template v-if="isVisible">
        <h2>Title</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, illo?</p>
   </template>

   <template v-else>
        <h2 style="color: red">Title</h2>
        <p style="color: blue">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, illo?</p>
   </template>
   
   
</div>
    <script src="vue.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
            //    type: 'a'
            isVisible: false
            }
        })
    </script>
</body>
</html>